In [3]:
x = 3.14
y = str(x)
z1 = float(y)
print(z1)
z2 = int(y[0:y.find('.')])
print(z2)
print(type(z1))
print(type(z2))

3.14
3
<class 'float'>
<class 'int'>

In [4]:
tuple1=(1,1.32,2,'CUC')
print(tuple1)
list1 = [1,1.32,2,'CUC']
print(list1)

(1, 1.32, 2, 'CUC')
[1, 1.32, 2, 'CUC']

In [5]:
myList = [1,2,3,5,4]
print(sorted(myList))

[1, 2, 3, 4, 5]

In [6]:
score_list = [100,95,85,60,65,70]
print(score_list)
print(score_list[3])
score_list.append(50)
print(score_list)

[100, 95, 85, 60, 65, 70]
60
[100, 95, 85, 60, 65, 70, 50]

In [7]:
del(score_list[6])
print(score_list[3:7])
print(score_list)

[60, 65, 70]
[100, 95, 85, 60, 65, 70]

In [8]:
score_list.append([1,2,3,'I am from CUC',True])
print(score_list)

[100, 95, 85, 60, 65, 70, [1, 2, 3, 'I am from CUC', True]]

In [9]:
second_list = [11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)

[100, 95, 85, 60, 65, 70, [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [10]:
score_list.remove(100)
print(score_list)

[95, 85, 60, 65, 70, [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [11]:
dict1 = {'KF':80,'YXH':90,'HYJ':100}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1['YXH'])
score_list = []
score_list.append(dict1)
print(score_list)

{'KF': 80, 'YXH': 90, 'HYJ': 100}
dict_keys(['KF', 'YXH', 'HYJ'])
dict_values([80, 90, 100])
90
[{'KF': 80, 'YXH': 90, 'HYJ': 100}]

In [12]:
test1 = {'KF':50,'YXH':60,'HYJ':70}
assignment1 = {'KF':50,'YXH':70,"HYJ":80}
score_list = []
score_list.append(test1)
score_list.append(assignment1)
print(score_list)

[{'KF': 50, 'YXH': 60, 'HYJ': 70}, {'KF': 50, 'YXH': 70, 'HYJ': 80}]

In [13]:
my_set={1,'LIAN',(1,2,3)}
print(my_set)
print(type(my_set))

{1, (1, 2, 3), 'LIAN'}
<class 'set'>

In [15]:
my_set = {1,2,2,3,4,4,5,6,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [16]:
i = 1
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [23]:
hrs_list = [30,40,50,60]
rate_list = [65,75,65,75]
name_list = ['KF','YXH','HYJ','LZQ']
fee_list = []
for number in range(len(name_list)):
    hrs = hrs_list[number]
    rate = rate_list[number]
    fee = hrs*rate
    fee_list.append(fee)
    money_made = name_list[number] + ' makes' +  str(fee) + '.'
    print(money_made)

KF makes1950.
YXH makes3000.
HYJ makes3250.
LZQ makes4500.

In [24]:
money_list = []
money_list.append(name_list)
money_list.append(fee_list)
print(money_list)

[['KF', 'YXH', 'HYJ', 'LZQ'], [1950, 3000, 3250, 4500]]

In [25]:
my_list = ['red','green','blue','yellow','purple']
index =0
for i  in my_list:
    if i == 'blue':
        print(index,'Blue is printed.')
        index+=1
    else:
        print(index,my_list[index])
        index = index +1
print('This is done.')

0 red
1 green
2 Blue is printed.
3 yellow
4 purple
This is done.

In [2]:
import pandas as pd
df1 = pd.DataFrame({
    #Define dataframe as a dictionary object
    'Product ID':[1,2,3,4],
    #Add product name and color
    'Product Name':['Hat','Shirt','Jeans','Coat'],
    'Color':['Blue','Green','Yellow','Pink'],
    'Units sold':[250,300,180,200]
})
print(df1)

   Product ID Product Name   Color  Units sold
0           1          Hat    Blue         250
1           2        Shirt   Green         300
2           3        Jeans  Yellow         180
3           4         Coat    Pink         200